@font-face {
  font-family: 'gg sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('gg sans Bold'), url('./assets/fonts/gg sans Bold.woff') format('woff');
}

@font-face {
  font-family: 'gg sans Normal Regular';
  font-style: normal;
  font-weight: normal;
  src: local('gg sans Normal Regular'), url('./assets/fonts/gg sans Regular.woff') format('woff');
}

@font-face {
  font-family: 'gg sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('gg sans Medium Regular'), url('./assets/fonts/gg sans Medium.woff') format('woff');
}

@font-face {
  font-family: 'gg sans SemiBold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('gg sans SemiBold Regular'), url('./assets/fonts/gg sans Semibold.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282b30;
  display: flex;
  justify-content: center;
  font-family: 'gg sans Normal Regular';
  color: white;
}

h1, h2 {
  font-family: 'gg sans Bold';
}

h1 {
  font-size: 2rem; /* Adjusted via media query below */
}

h2 {
  font-size: 1.5rem; /* Adjusted via media query below */
}

.main-container {
  background-color: rgba(66,69,73, 0.5);
  padding-top: 2rem;
  width: 100%;
  max-width: 50rem; /* Max width to prevent overly wide containers on large screens */
  height: 100%;
  text-align: center;
}

.main-container > img {
  width: 13rem; /* Adjusted via media query below */
  height: 13rem; /* Adjusted via media query below */
  object-fit: cover;
  border-radius: 50%;
}

.link-container {
  font-family: 'gg sans SemiBold Regular';
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjusted via media query below */
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-container > img {
    width: 10rem;
    height: 10rem;
  }

  .link-container {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  
  .main-container {
    padding-top: 1rem;
  }

  .main-container > img {
    width: 8rem;
    height: 8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}